<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Weather_city</title>
</head>
<body>
    <header class="header">
        <div class="conteiner">
          <div class="header-wrap">
            <div class="logo-wrap">
              <p class="logo">WEATHER CITY</p>
            </div>
            <nav class="nav-wrap">
              <ul class="nav-list">
                <li class="nav-list-item">
                  <a href="/"> MAIN PAGE</a>
                </li>
              </ul>
            </nav>
              <div class="user-img-text-wrap">
               {% if user_text %}
                  <div class="nav-list-item-text">
                    <p class="a-wrap">{{ user_text }}</p>
                  </div>
               {% endif %}
               <div class="user-img-wrap">
                  <i class="fa-solid fa-user"></i>
               </div>
              </div>
          </div>
        </div>
    </header>
    </div>
    <section class="weather">
        <div class="conteiner">
            <div class="weather-wrap">
                {% if text == "true" %}
                    <h2 class="weather-title">Данного города не найдено</h2>
                {% else %}
                <h3 class="weather-title">City: {{ city }}</h3>
                <p class="weather-param">Weather: {{ weather }}</p>
                <p class="degrees1">Temperature: {{ degrees1 }} {{ degrees2 }}</p>
                {% endif %}
            </div>
        </div>
    </section>
</body>
</html>