<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <style>
        /* # CSS */
        body{
            background-color: #fff;
            margin: 20px;
        }

        a{
            padding: 10px 20px;
            border: 1px solid black;
            border-radius: 10px;
            background-color: #ffc369;
        }
        div {
            display: flex;
            justify-content: start;
            gap: 50px;
        }

    </style>
</head>
<body>
    <h1>Main page</h1>
    <div>
    <a href="/duck/">Cтраница 1</a>
    <a href="/fox/1/">Cтраница 2</a>
    <a href="/weather-minsk/">Cтраница 3</a>
    <a href="/weather/Minsk/">Cтраница 4</a>
    {% if user_auth == "true" %}
        <a href="/login/">Вход</a>
        <a href="/registration/">Регистрация</a>
    {% else %}
        <a href="/logout/">Выход</a>
    {% endif %}
    </div>
    <br>
    <div>
        <img src = "https://img.goodfon.com/original/1600x1200/5/ac/zheltyy-krasniy-m-m.jpg" alt="123">
    </div>

    
</body>
</html>