{% extends 'base.html' %}
{% load static %}
{% block menu %}
    <header class="header">
        <div class="conteiner">
          <div class="header-wrap">
            <div class="logo-wrap">
              <p class="logo">MAIN PAGE</p>
            </div>
              <nav class="nav-wrap">
                  <ul class="nav-list">
                    <li class="nav-list-item">
                      <a href="/"> MAIN PAGE </a>
                    </li>
                    <li class="nav-list-item">
                      <a href="/admin/"> ADMIN PANEL </a>
                    </li>
                  </ul>
              </nav>
          </div>
        </div>
    </header>
{% endblock %}
{% block content1 %}
    <p class="logout-message">You have been logged out</p>
{% endblock %}
