{% extends "base.html" %}
{% block menu %}
    <header class="header">
        <div class="conteiner">
          <div class="header-wrap">
            <div class="logo-wrap">
              <p class="logo">MAIN PAGE</p>
            </div>
              <nav class="nav-wrap">
                  <ul class="nav-list">
                    <li class="nav-list-item">
                      <a href="/quiz/"> QUIZ </a>
                    </li >
                    <li class="nav-list-item">
                      <a href="/editor/"> EDITOR </a>
                    </li>
                  </ul>
              </nav>
          </div>
        </div>
    </header>
{% endblock %}
{% block content1 %}

{% endblock %}