.hw10 {
  padding: 15px 0;
  margin-bottom: 20px;
}
.hw10-wrap {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3eddf;
}
h1 {
  font-size: 30px;
  color: brown;
  margin-bottom: 20px;
}
.hw10-h2 {
  margin-bottom: 20px;
}
.hw10-h3 {
  margin-bottom: 20px;
  color: rgb(242, 177, 80);
}
.link-color {
  color: green;
  text-decoration: underline;
}