{% extends 'base.html' %}
{% block menu %}
    <header class="header">
        <div class="conteiner">
          <div class="header-wrap">
            <div class="logo-wrap">
              <p class="logo">FOX PAGE</p>
            </div>
            <nav class="nav-wrap">
              <ul class="nav-list">
                <li class="nav-list-item">
                  <a href="/"> MAIN PAGE</a>
                </li>
              </ul>
            </nav>
              <div class="user-img-text-wrap">
               {% if user_text %}
                  <div class="nav-list-item-text">
                    <p class="a-wrap">{{ user_text }}</p>
                  </div>
               {% endif %}
               <div class="user-img-wrap">
                  <i class="fa-solid fa-user"></i>
               </div>
              </div>
          </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <section class="fox-section">
        <div class="conteiner">
            <div class="fox-img-wrap-flex">
                {% if text == "true" %}
                <div class="conteiner">
                    <h1 class="title-main">Можно только от 1 до 10</h1>
                </div>
                {% else %}
                    {% for image in images%}
                        <div class="fox-img-wrap">
                            <img src = "{{image}}" alt="123">
                        </div>
                    {%endfor%}
                {% endif %}
        </div>
        </div>
    </section>
{% endblock %}
