{% extends 'base.html' %}
{% block menu %}
    <header class="header">
        <div class="conteiner">
          <div class="header-wrap">
            <div class="logo-wrap">
              <p class="logo">DUCK PAGE</p>
            </div>
            <nav class="nav-wrap">
              <ul class="nav-list">
                <li class="nav-list-item">
                  <a href="/"> MAIN PAGE</a>
                </li>
              </ul>
            </nav>
              <div class="user-img-text-wrap">
               {% if user_text %}
                  <div class="nav-list-item-text">
                    <p class="a-wrap">{{ user_text }}</p>
                  </div>
               {% endif %}
              </div>
          </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    {% if err %}
        {% for error in err %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    {% endif %}
    <div class="additional-content">
        <form class="registration-form" method="post">
            <fieldset class="registration-fieldset">
                <legend class="registration-legend">Регистрация</legend>
                <div class="registration-wrap">
                    <div class="login-wrap">
                        <label class="login-label" for="login">Логин</label>
                        <input class="login-input" type="text" id="login" placeholder="Введите логин" name="login123" value={{user_field}}>
                    </div>
                    <div class="password-wrap">
                        <label class="password-label" >Пароль</label>
                        <input class="password-input" type="password" id="password" placeholder="Введите пароль" name="password123" value={{pas_field}}>
                    </div>
                    <div class="name-wrap">
                        <label class="name-label">Имя Фамилия</label>
                        <input class="name-input" type="name"  name="name123" placeholder="Введите Имя и Фамилию" value={{name_field}}>
                    </div>
                    <div class="email-wrap">
                        <label class="email-label">Email</label>
                        <input class="email-input" type="email" name="email123" placeholder="Введите Email" value={{email_field}}>
                    </div>
                    <div class="age-wrap">
                        <label class="age-label">Age</label>
                        <input class="age-input" type="age" name="agel123" placeholder="Укажите ваш возраст" value={{age_field}}>
                    </div>
                    <!-- <input type="submit" value="OK"> -->
                    <div class="btn-wrap">
                        <button class="registration-btn-submit" type="submit">Регистрация</button>
                        <button class="registration-btn-reset" type="reset">Сбросить</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}