{% extends 'index.html' %}
{% block menu %}
    <header class="header">
        <div class="conteiner">
          <div class="header-wrap">
            <div class="logo-wrap">
              <p class="logo">WEATHER CITY</p>
            </div>
            <nav class="nav-wrap">
              <ul class="nav-list">
                <li class="nav-list-item">
                  <a href="/"> MAIN PAGE</a>
                </li>
              </ul>
            </nav>
              <div class="user-img-text-wrap">
               {% if user_text %}
                  <div class="nav-list-item-text">
                    <p class="a-wrap">{{ user_text }}</p>
                  </div>
               {% endif %}
               <div class="user-img-wrap">
                  <i class="fa-solid fa-user"></i>
               </div>
              </div>
          </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <section class="weather">
        <div class="conteiner">
            <div class="weather-wrap">
                {% if text == "true" %}
                    <h2 class="weather-title">Данного города не найдено</h2>
                {% else %}
                <h3 class="weather-title">City: {{ city }}</h3>
                <p class="weather-param">Weather: {{ weather }}</p>
                <p class="degrees1">Temperature: {{ degrees1 }} {{ degrees2 }}</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}